<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        <div class="footer-content">
            <p>Contact us at:</p>
            <div class="footer-section about">
                <br>
                <a class="footer-link" href="https://www.linkedin.com/in/gayana-d-882031194"><i class="fab fa-linkedin-in"></i></a><br>
                <a class="footer-link" href="https://www.instagram.com/gayana_d_"><i class="social-icon fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; Copyright 2020 | Designed by Gayana
        </div>
    </div>
</body>
</html>