<%- include('partials/header') %>

  
<section id="title">
  <div class="container-fluid">
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a class="active" href="/">Log Out</a>
      <div class="search"> 
        <form action=""> 
            <input type="text" placeholder="Search" name="search"> 
        </form> 
      </div> 
    </div>
  </div>  
</section>
          



<section>      
    <div class="row">
      <div class="col-lg-6">
        <h1>The Avengers</h1>
        <p><em>The Avengers were a team of superheroes assembled by Nick Fury and the intelligence agency S.H.I.E.L.D. through the Avengers Initiative, originally Nick Fury intended it to be called the Protectors Initiative. The original team consisted of Iron Man, Captain America, Hulk, Thor, Black Widow and Hawkeye.</em> </p>
      </div>

      <div class="col-lg-6">
        <img class="title-image" src="images/theAvengers.jpg" alt="mockup">
      </div>
    </div>

  </div>

</section>


<!-- Features -->
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<section id="features">
  <div class="row">
    <div class="feature-box col-lg-4">
      <!-- <i class="icon fas fa-check-circle fa-4x"></i> -->
      <h3><em>Iron Man</em></h3>
      <p><em>Anthony Edward Stark is a fictional character portrayed by Robert Downey Jr. in the Marvel Cinematic Universe (MCU) film franchise—based on the Marvel Comics character of the same name—commonly known by his alter ego, Iron Man.</em></p>
    </div>
    <div class="feature-box col-lg-4">
      <!-- <i class="icon fas fa-bullseye fa-4x"></i> -->
      <h3><em>Captain America</em></h3>
      <p><em>Captain America is a fictional superhero appearing in American comic books published by Marvel Comics. ... Captain America is the alter ego of Steve Rogers, a frail young man enhanced to the peak of human perfection by an experimental serum to aid the United States government's efforts in World War II.</em></p>
    </div>
    <div class="feature-box col-lg-4">
      <!-- <i class="icon fas fa-heart fa-4x"></i> -->
      <h3><em>Hulk</em></h3>
      <p><em>Hulk is the alter ego of Bruce Banner, a socially withdrawn and emotionally reserved physicist who physically transforms into the Hulk under emotional stress and other specific ... The Hulk is a fictional superhero appearing in American comic books published by Marvel Comics.</em></p>
    </div>

  </div>

</section>


<!-- Testimonials -->
<br><br><br><br>
<section id="testimonials">

  <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2><em>“I Used To Have Nothing. And Then I Got This - This Job, This Family - And I Was Better Because Of It. Even Though They’re Gone, I’m Still Trying To Be Better.”</em></h2>
        <img class="testimonial-image" src="images/blackWidow.jpg" alt="black widow">
        <em>Black Widow</em>
      </div>
    </div>
  </div>
</section>


<!-- Press -->

<section id="press">
  <img class="press-img" src="images/netflix.jpg" alt="netflix-logo">
  <img class="press-img" src="images/prime.jpg" alt="prime-logo">
</section>


<!-- Pricing -->

<section id="pricing">

  <h2><em>Other Avengers</em></h2>
  <p></p>
  <div class="row">
    <div class="pricing-col col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h1><em>Hawkeye</em></h1>
        </div>
        <div class="card-body">
          <h2><em>Fictional character</em></h2>
          <h3><em>Appears in:</em></h3>
          <p><em>Avengers: Endgame</em></p>
          <p><em>Avengers: Age of Ultron</em></p>
        </div>
      </div>
    </div>


    <div class="pricing-col col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h1><em>Thor</em></h1>
        </div>
        <div class="card-body">
          <h2><em>Fictional character</em></h2>
          <h3><em>Appears in:</em></h3>
          <p><em>Avengers: Endgame</em></p>
          <p><em>Avengers: Age of Ultron</em></p>
          <!-- <button class="btn btn-lg btn-block btn-outline-dark" type="button">Add to cart</button> -->
        </div>

      </div>
    </div>
    <div class="pricing-col col-lg-4">
      <div class="card">
        <div class="card-header">
          <h1><em>Dr. Strange</em></h1>
        </div>
        <div class="card-body">
          <h2><em>Fictional character</em></h2>
          <h3><em>Appears in:</em></h3>
          <p><em>Avengers: Endgame</em></p>
          <!-- <p>Unlimited Messages</p> -->
          <p><em>Avengers: Age of Ultron</em></p>
          <!-- <button class="btn btn-lg btn-block btn-outline-dark" type="button">Add to cart</button> -->

        </div>

      </div>
    </div>

  </div>

</section>




<!-- Footer -->


<%- include('partials/footer') %>
